nav {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1rem;
  font-family: var(--mono);
}
ul {
  padding: 0px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

nav li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

nav h1 {
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav li:hover {
  color: white;
}

.cart-quantity {
  display: none;
}

.cart-quantity-with-quantity:hover {
  text-decoration: none;
}

.cart-quantity.display {
  display: inline;
  font-size: 16px;
  position: relative;
  right: 0.5em;
  bottom: 1em;
  width: 1em;
  height: 0.7em;
  background-color: white;
  color: black;
  padding: 0 0.35em;
  border-radius: 50%;
}

.cart-quantity.display:hover {
  text-decoration: none;
}

.small-screen-menu {
  display: none;
}

.small-screen-menu:hover {
  cursor: pointer;
}

.small-screen-menu-icon {
  height: 40px;
}
/* @media (max-width: 1024px) {
  .navbar-link-list li:not(:last-child) {
    display: none;
  }

  .small-screen-menu {
    display: block;
  }
} */

/* @media (max-width: 1024px) {
  .navbar-link-list.responsive {
    position:relative;
  }
  .navbar-link-list.responsive .small-screen-menu {
    position:absolute;
    right: 0;
    top: 0;
  }
  .navbar-link-list.responsive {
    float: none;
    display: block;
    text-align: left;
  } */
/* .small-screen-menu.responsive {
    display: none;
  } */
/* } */

@media (min-width: 850px) {
  nav {
    width: 90%;
    padding: 1rem 1rem 1rem 4rem;
    margin: 1rem auto;
    align-self: center;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&family=Roboto+Flex:opsz,wght@8..144,100&display=swap");
